<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="body-admin">
    <nav class="navbar">
    <div class="logo">CalPro</div>
    <div class="nav-links">
    </div> </nav>
<div class="login-wrapper">
    <div class="glass-card login-card">
    <h2>Admin Login</h2>

    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Admin Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button class="button-3" type="submit">Login</button>
    </form>
</div>
</div>

</body>
</html>
