<!DOCTYPE html>
<html>
<head>
    <title>Editprofile</title>
   
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar">
    <div class="logo">CalPro</div>
    <div class="nav-links">
        
        
       

    </div>
</nav>
<br>



<div class="login-wrapper">
    <div class="glass-card login-card">
        <h2>Edit your Profile </h2>

       


        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            
            
             <input type="text" name="username" placeholder="Username" value="{{user.username}}"  >
             <input type="email" name="email" placeholder="Email" value="{{user.email}}" >
        <!--<input type="password" name="password" placeholder="Password" -->
        
        
        <input type="number" name="calorie_goal"
       placeholder="Daily Calorie Goal" value="{{user.calorie_goal}}" >

        <input type="number" name="protein_goal"
       placeholder="Daily Protein Goal (g)" value="{{user.protein_goal}}"><br>

       <u><label>Profile image </label></u></label><input type="file" name="image" >

           

            <button class="button-91" type="submit">Update profile</button>
            
            
        </form>
    </div>
</div>
<br>
<br>
<br>

</body>
</html>
