<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
   
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar">
    <div class="logo">CalPro</div>
    <div class="nav-links">
        
        
       

    </div>
</nav>
<br>
<br><br>


<div class="login-wrapper">
    <div class="glass-card login-card">
        <h2>Start by Sign-in </h2>

       


        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            
            
             <input type="text" name="username" placeholder="Username" required>
             <input type="email" name="email" placeholder="Email" required>
<input type="password" name="password" id="password" placeholder="Password" required>
<input type="password" name="password2" id="password2" placeholder="Confirm Password" required>
<button type="submit">Submit</button>
        
        <input type="number" name="calorie_goal"
       placeholder="Daily Calorie Goal" required>

        <input type="number" name="protein_goal"
       placeholder="Daily Protein Goal (g)" required><br>

       <u><label>Profile image </label></u></label><input type="file" name="image" required>

           <p>Already a tracker? <a href="/login">Login</a></p>

            <button class="button-91" type="submit">Sign up</button>
            
            
        </form>
    </div>
</div>
<br>
<br>
<br>

<script>
document.querySelector("form").addEventListener("submit", function (e) {
    const password = document.getElementById("password").value;
    const password2 = document.getElementById("password2").value;

    if (password.length < 6) {
        alert("Password must be at least 6 characters long.");
        e.preventDefault();
        return;
    }

    if (password !== password2) {
        alert("Passwords do not match.");
        e.preventDefault();
    }
});
</script>
</body>
</html>
